<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripMocha</title>
    <style>

    </style>
    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/schedule_main.css')}}">

    <!-- stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- js -->

    <script type=text/javascript src="{{url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/schedule_main.js') }}"></script>
    <script>
    const currentUserId = "{{ session.get('user_id', '') }}";</script>

    <!-- etc -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /> -->
</head>

<body>
    <div id="wrap">
        {% include 'config/header.html' %}
        <div id="container">
            <!-- 작업영역 -->
            <div class="h22-and-input">
                <div class="travel-name-outer-container"></div>
                <div class="mytravel">
                    <div class="trip-container">
                        <h1 class="image-text">나의 여행 만들기</h1>
                        <img id="trip_photo" src="{{ url_for('static', filename='img/겨울메인2.jpg') }}">
                    </div>
                </div>
                <!-- <div class="input-wrapper">
                    <div class="input-container"> 
                        <input type="text" class="search-input" placeholder="여행 제목을 만들어주세요.  ex:부산에서 여름휴가!">
                        <button class="confirm-button">저장</button>
                    </div>
                </div> -->
            </div>

            <h2 style="margin-top: 40px;"></h2>

            <div id="wrap">
                <div class="top-search-bar">
                    <div class="top-search-item" id="destinationItem">
                        <span class="search-label">여행지</span>
                        <span id="searchPlaceholder" class="sub-label">여행지 검색
                            <button class="search_btn">
                                <i class="bi bi-search"></i>
                            </button>
                        </span>
    
                        <input type="text" id="destinationSearchInput" style="display: none;" /> 

                        <span class="display-group">
                            <span class="selected-province"></span>
                            <span class="selected-city"></span>
                        </span>

                        <div class="dropdown-content" id="destinationDropdown">
                            {% for dest in destinations %}
                            <div class="destination-item" data-city="{{ dest.city_name }}"
                                data-code="{{ dest.adm_code }}" data-lat="{{ dest.latitude }}"
                                data-lng="{{ dest.longitude }}" data-destination="{{ dest.city_name }}">
                                <div class="dest-info">
                                    <div class="dest-name">{{ dest.sigungu }}</div>
                                    <div class="dest-sido">{{ dest.sido }}</div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="top-search-item" id="dateItem">
                        <span class="search-label" id="dateDisplay">날짜</span>
                        <span class="sub-label">날짜 추가</span>
                        <span class="display-group">
                            <span class="selected-dates"></span>
                            <span class="selected-duration"></span>
                        </span>
                        <div class="dropdown-content" id="calendarDropdown">
                            <div class="calendar-col">
                                <div class="calendar-header">
                                    <span class="prev-month">&lt;</span>
                                    <span id="month1">2025년 11월</span>
                                    <span></span>
                                </div>
                                <div id="calendarContainer1"></div>
                            </div>
                            <div class="calendar-col">
                                <div class="calendar-header">
                                    <span></span> <span id="month2">2025년 12월</span>
                                    <span class="next-month">&gt;</span>
                                </div>
                                <div id="calendarContainer2"></div>
                            </div>

                            <div class="calendar-footer">
                                <button class="reset-btn">지우기</button>
                                <button class="apply-btn">적용</button>
                            </div>
                        </div>
                    </div>

                    <div class="top-search-item" id="tourTypeItem">
                        <span class="search-label">인원</span>
                        <span class="sub-label">인원 선택</span>
                        <span class="display-group">
                            <span class="selected-personnel-name"></span>
                            <span class="selected-personnel-count"></span>
                        </span>
                        <div class="dropdown-content" id="tourDropdown">
                            <div class="tour-tabs">
                                <div class="tour-tab active" data-type="solo">1인</div>
                                <div class="tour-tab" data-type="couple">커플</div>
                                <div class="tour-tab" data-type="friends">친구</div>
                            </div>
                            <div class="tour-tabs">
                                <div class="tour-tab" data-type="family">가족</div>
                                <div class="tour-tab" data-type="with_child">아이동반</div>
                                <div class="tour-tab" data-type="with_parents">부모님동반</div>
                            </div>

                            <div class="tour-type-item">
                                <span>여행자</span>
                                <div class="count-controls">
                                    <div class="count-btn minus-btn" data-target="friend">-</div>
                                    <div class="count-number" id="friendCount">0</div>
                                    <div class="count-btn plus-btn" data-target="friend">+</div>
                                </div>
                            </div>

                            <div class="calendar-footer">
                                <button class="reset-btn">지우기</button>
                                <button class="apply-btn">적용</button>
                            </div>
                        </div>
                    </div>

                    <button class="search-button">추가</button>

                </div>

                <div class="h22-and-input">
                    <h2>여행 테마</h2>
                    <p class="input-wrapper2">원하는 여행 테마 2가지 선택해주세요. (최대 4개 선택)
                 </div>

                <table id="theme-selection-table">
                    <tr>
                        <td class="theme-icon-container select-btn" data-theme="ai">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/ai.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div>
                            </div><br>AI 추천
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="mountain">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/산1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>산
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="sea">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/바다1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>바다
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="indoor">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/실내1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>실내
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="activity">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/액티비티1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>액티비티
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="experience">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/체험2.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>체험
                        </td>
                    </tr>
                    <tr>
                        <td class="theme-icon-container select-btn" data-theme="themepark">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/테마파크1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>테마파크
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="market">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/시장1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>전통시장
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="food">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/맛집2.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>맛집
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="festival">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/축제1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>축제
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="healing">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/힐링2.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div></div>
                            </div><br>힐링
                        </td>
                        <td class="theme-icon-container select-btn" data-theme="photo">
                            <div class="theme-icon"><img src="{{ url_for('static', filename='img/사진1.jpg') }}"><div class="selection-overlay">
                                    <span class="check-icon">✔</span>
                                </div>
                                </div>
                            </div><br>사진
                        </td>
                    </tr>
                </table>

                <p id="selection-message" style="color: red; margin-top: 10px;"></p>

                <div class="button-area">
                    <a class="button-make-travel">
                        <img src="{{ url_for('static', filename='img/travle.png') }}"></a>
                </div>
                <div id="result-area" style="margin-top: 40px;">
                </div>
                <div id="result-area">
                    <div class="trip-list-grid">
                    </div>
                    <div id="schedule-display-area">
                    </div>
                </div>

            </div>



            <!-- 작업영역 -->
        </div>
        {% include 'config/footer.html' %}
    </div>
</body>

</html>