<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripMocha</title>
    {% include 'config/config.html' %}
    <!-- js -->
     <script src="{{url_for('static', filename='js/info.js')}}"></script>
     <script src="{{url_for('static', filename='js/add_location.js')}}"></script>
    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/schedule_view.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/info.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/schedule_travel.css')}}">
    <!-- etc -->
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{choakey}}"></script>
</head>
<body>
    <div id="wrap">
        {% include 'config/header.html' %}
        <div id="container">
            <div class="trip-summary">
                <div class="trip-summary-left">
                    <h1 class="trip-title">{{user_id}}님을 위한 여행코스</h1>
                    <div class="meta-info">
                        <input id="trip_no" type="hidden" value="{{trip_meta.trip_no}}">
                        <div>{{trip_meta.title}}</div>
                        <div>{{ trip_meta.start_date }} → {{ trip_meta.end_date }}</div>
                        <div>{{trip_meta.trip_type}} | {{trip_meta.people}} 인</div>

                        <!-- <p>  - 여행지역 : <div id="trip-city">{{trip_meta.city}}</div> </p> -->
                    </div>
                </div>
                <div class="trip-summary-right">
                </div>
            </div>

            <hr style="margin: 20px 0;">

            <div class="schedule-controls">
                <h2>여행 일정</h2>
                <div class="control-buttons">
                    <button class="pdf-button" id="downloadPdfButton" onclick="downloadPDF()">PDF 저장</button>
                    <a class="pdf-button" href="{{ url_for('schedule.list') }}">목록</a>
                    <a class="pdf-button" href="{{ url_for('schedule.list') }}" id="list-del-btn">삭제</a>
                </div>
            </div>
            <div 
                id="final-schedule-data" 
                data-schedule="{{ final_schedule_list_for_js | default([]) | tojson }}">
            </div>

        {% for day, items in grouped_schedule.items() %}
        <div class="travel-schedule-layout">
            <input type="hidden" id="trip_day" value="{{day}}">
            <div class="schedule-list-area">
                <div class="modify_cntainer">
                    <div class="schedule-day-title" >Day {{ day }} - {{ day }}</div>
                    <div id="btnwrap">
                        <a href="#" class="schedule_modify" id="popupbtn">일정편집</a>
                    </div>
                </div>
                {% for item in items %}
                <div 
                class="timeline-item" 
                data-item-id="{{ item.id }}" 
                data-place-id="{{ item.place_id or item.detail_id }}" 
                data-sequence="{{ item.sequence }}"
                >
                    <div class="timeline-item-content">
                        <div class="details">
                            <div class="header-info">
                                <div class="sequence">{{ item.sequence }}</div>
                                <h4> {{ item.name }}</h4>
                            </div>
                            <div class="add-delete">
                                <p>{{ item.address }}</p>
                                <button class="delete-btn hidden">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="timeline-item hidden">
                    <div class="timeline-item-content">
                        <div class="list-add" hidden>
                            <a href="#" class="add-schedule-btn" data-day="{{ day }}">+ 방문지 추가</a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        {% endfor %}
        <div class="map-section-wrapper">
            <div id="map" class="map-container-bottom"></div>
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new kakao.maps.LatLng(35.815967, 127.147255), // 지도의 중심좌표 (전주 인근)
                        level: 7 // 지도의 확대 레벨
                    };
    
                // 지도를 표시할 div와 지도 옵션으로 지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption);
    
                var mapTypeControl = new kakao.maps.MapTypeControl();
    
                // 지도에 컨트롤을 추가
                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
    
                // 지도 확대 축소를 제어할 수 있는 줌 컨트롤 생성
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    
    
                var marker = new kakao.maps.Marker();
    
                // 타일 로드가 완료되면 지도 중심에 마커를 표시합니다
                kakao.maps.event.addListener(map, 'tilesloaded', displayMarker);
    
                function displayMarker() {
                    // 마커의 위치를 지도중심으로 설정합니다 
                    marker.setPosition(map.getCenter());
                    marker.setMap(map);
    
                    // kakao.maps.event.removeListener(map, 'tilesloaded', displayMarker);
                }
            </script>
        </div>
    </div>

    {% include 'config/footer.html' %}
    </div>
    <div id="modalwrap">
        <div id="modalbody">
            <span id="closebtn">&times;</span>
            <p class="modal-p">방문지 추가</p>
            <br>
            <div id="modal_search_wrap">
                <div class="search_wrap">
                    <div class="search_area">
                    <form id="modalform" class="sform" name="search" method="get" onsubmit="return DoSearch2(event);">
                        <div name="locType" id="locType" class="search_type options_dropdown">
                            <div class="selected_option">숙박 
                                <span class="material-symbols-outlined">arrow_drop_down</span>
                            </div>
                            <ul>
                                <li data-value="AC" class="option_item selected">숙박</li>
                                <li data-value="EX" class="option_item">체험</li>
                                <li data-value="FD" class="option_item">음식</li>
                                <li data-value="HS" class="option_item">역사</li>
                                <li data-value="NA" class="option_item">자연</li>
                                <li data-value="SH" class="option_item">쇼핑</li>
                                <li data-value="VE" class="option_item">문화</li>
                            </ul>
                        </div>
                        <div class="search_input_box">
                        <input type="search" id="locQuery" class="query" name="locQuery" placeholder="여행지를 입력해 주세요.">
                    </div>
                    <button class="search_btn">
                        <i class="bi bi-search"></i>
                    </button>
                    </form>
                    </div>
                </div>
            </div>
            <ul class="travel_list schedule_travel_list" id="schedule_travel_list">
                <div class="no-result">
                    <p>
                    <span class="material-symbols-outlined">search</span>
                    </p>
                    <p>
                    검색 결과가 없습니다.
                    </p>
                </div>
                <li id="sentinel" style="height: 1px; margin: 0; padding: 0; visibility: hidden;"></li>
            </ul>
            <br>
            <hr>
            <button class="mocha_btn_1" onclick="InsertPlaceId()">선택</button>

        </div>
    </div>
    <script type=text/javascript src="{{url_for('static', filename='js/schedule_view.js') }}"></script>
</body>

</html>