

.thema_cont {
  position: relative;
  width: 100%;
}
.card_title {
  position: relative;
  width: 100%;
  font-size: x-large;
  transition: 0.3s ease;
}

.card_contents {
  z-index: 5;
  color: #fff;

  display: flex;
  bottom: 0;
  left: 0;             
  right: 0;
  
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  height: 25%;
  width: 100%;
  overflow-x: hidden;

  transition: height 0.5s ease;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_note {
  background-color: #006060;
  width: 100%;
  display: none;
  right: 0;

  position: absolute;
  font-size: large;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;

  text-align: left; 

  align-items: center;
  justify-content: space-between;

  transition: 0.3s ease;
}
.thema_cont > p {
  color: #666;
}

.arrow {
  font-size: 60px;

  flex-shrink: 0; /* 크기가 줄어들지 않도록 방지 */
  margin-left: 10px; /* 노트 내용과의 간격 확보 */
}

.cont_head > p {
  color: #666;
}
.swiper {
  width: 100%;
  height: 330px;
}
.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide:hover > .card_contents {
  height: 100%;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-slide:hover > .card_contents > .card_note {

  display: block;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #ccc !important;;
}
.festival_list {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.festival_img_wrap {
  
  width: 100%;
  height: 230px;
  /* border: 1px solid var(--mocha-border); */
  overflow: hidden
}
.festival_img_wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}