<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>


<body>
    <div class="login-container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="TripMocha 로고" class="tripmocha-logo"> 

        <main class="login-box">
            <form action="/login" method="post">
                <div class="input-group">
                    <input type="text" name="user_identifier" placeholder="아이디 / 전화번호" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="비밀번호" required>
                </div>
                
                <button type="submit" class="login-btn">
                    로그인
                </button>
            </form>

            <div class="find-links">
                <a href="{{ url_for('find_password_page') }}">비밀번호 찾기</a>
                <span>|</span>
                <a href="{{ url_for('find_id_page') }}">아이디 찾기</a>
                <span>|</span>
                <a href="{{ url_for('join_page') }}" class="signup-link">회원가입</a>
            </div>
        </main>
    </div>
</body>
</html>