<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TripMocha</title>
  {% include 'config/config.html' %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/info.css')}}">
</head>
<body>
  <div id="wrap">
    {% include 'config/header.html' %}
    <div id="container">
      <div class="head">
        <p>충북 음성군</p>
        <p class="title"><span>{{item.title}}</span></p>
        <p class="intro"><span>영원한 안식처, 국내 최대 영탑 공원이 공존하는 특별한 도량</span></p>
        <div class="detail_img">
          <img src="{{item.image}}">
        </div>
      </div>
      <div id="contents">
        <h2>상세정보</h2>
        <p>
          {{item.intro}}
        </p>
        <div id="map" class="detail_map"></div>
        <script type=text/javascript src="{{url_for('static', filename='js/map.js') }}"></script>    
        <h2>해쉬</h2>    
        <p class="hash">
          <a href="{{ url_for('info.info',query='관광지') }}">#관광지</a>
          <a href="{{ url_for('info.info',query='광명선원') }}">#광명선원</a>
        </p>
      </div>
      <div class="tolist_btn">
        <button type="button" onclick = "location.href = '/info'">목록</button>
      </div>
    </div>
    {% include 'config/footer.html' %}
  </div>
</body>
</html>