<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TripMocha</title>
  {% include 'config/config.html' %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/info.css')}}">
</head>
<body>
  <div id="wrap">
    {% include 'config/header.html' %}
    <div id="container">
      <div id="contents">
        <div class="cont">
            <div id="menu">
              <span class="menu_title">검색 조건</span>
              <ul>
                <li><a href="/info?sort=k">전체</a></li>
                <li><a href="/info?sort=h">해쉬</a></li>
              </ul>
            </div>
            <div id="section">
              <span id="waitMsg" style="display:none;color:red;">여행지를 조회중입니다. 잠시 기다려 주세요.....</span>
              <h2>
                # {{query}}
              </h2>
              <ul class="travel_list">
                {% for item in items %}
                <li>
                  <a href="/info/{{item.id}}">
                    <img src="{{item.image}}">
                  </a>
                  <div class="list_cont">
                    <h3 class="title">
                      <a href="/info/{{item.id}}">{{item.title}}</a>
                    </h3>
                    <p class="loc">{{item.addr1}}</p>
                    <p class="hash">
                      <a href="{{ url_for('info.info',query='#%s' % item.contenttypeid) }}"><span>#{{item.contenttypeid}}</span></a>
                      <a href="{{ url_for('info.info',query='#%s' % item.areacode) }}"><span>#{{item.areacode}}</span></a>
                    </p>
                  </div>
                </li>
                {% endfor %}
                <li>
                  <a href="/info/1">
                    <img src="../static/img/flower.jpg" alt="나리농원">
                  </a>
                  <div class="list_cont">
                    <h3 class="title">광명선원</h3>
                    <p class="loc">충북 음성군</p>
                    <p>조용히 나를 돌아보는 사찰</p>
                    <p class="hash">
                      <a href="{{ url_for('info.info',query='관광지') }}">#관광지</a>
                      <a href="{{ url_for('info.info',query='광명선원') }}">#광명선원</a>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    {% include 'config/footer.html' %}
  </div>
</body>
</html>